@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap')

$menu-color: #000a12
$menu-hover: #4f5b62

*, 
*::before,
*::after 
    box-sizing: border-box

body 
    margin: 0
    padding-top: 50px
    background: #eceff1
    font-family: 'Roboto Condensed', sans-serif

header
    top: 0
    width: 100%
    position: fixed

.menu 
    margin-top: 0
    margin-bottom: 0
    padding-left: 0
    list-style: none
    background: $menu-color
    display: flex

.menu-item 
    flex: auto
    text-align: center
    position: relative

.menu-link 
    display: block
    text-decoration: none
    color: #eee
    line-height: 3
    

.menu-link:hover 
    background: $menu-hover

.submenu 
    display: none
    position: absolute
    width: 100%

.menu-item:hover .submenu 
    display: block

footer
    background: $menu-color
    color: #fff
    text-align: center
    
    
    h2 
        padding: 0.5em 0

@import "sass-modules/cards"
@import "sass-modules/location"




// @media screen and (max-width: 678px) 
//     .menu 
//         display: block
    

