.location-title
    text-align: center
    font-size: 2em

.location-container
    display: flex
    padding-left: 1em
    padding-right: 1em

.mapa,
.contact
    flex: 1 1 50%

.contact
    background: #455a64
    border-radius: 3px 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
iframe
    display: block
    // margin-left: auto
    // margin-right: auto
    border: 5px solid rgba(#000,0.7)
    border-radius: 5px