@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap')

.location-title
    text-align: center
    font-size: 2em

.location-container
    display: flex
    padding-left: 1em
    padding-right: 1em

.mapa,
.contact
    flex: 1 1 50%

.contact
    background: #002171
    color: #f5f5f5
    font-family: 'Oswald', sans-serif
    font-size: 1.2em
    border-radius: 10px 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
iframe
    display: block
    border: 5px solid rgba(#000,0.7)
    border-radius: 5px